<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Password Manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="center-signup">
        <section class="auth-card">
            <h1><span class="icon-profile"></span> Log In</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="flash-messages">
                  {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            <form method="post" action="/login" class="auth-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="purple-btn">Log In</button>
            </form>
            <p class="auth-alt"><a href="/forgot" class="purple-btn small-btn">Forgot Password?</a></p>
            <p class="auth-alt">Don't have an account? <a href="/signup" class="purple-btn small-btn">Sign Up</a></p>
        </section>
    </main>
</body>
</html> 